<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Account password reset</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>
            Dear
        </p>
        <p>
            A password reset for you account was requested, please click on the URL below to reset it
        </p>
        <p>
            <a th:href="@{|${baseUrl}/account/reset/finish?key=${user.resetKey}|}"
            >Reset password</a>
        </p>
        <p>
            <span>Regards, </span>
        </p>

        <div th:include="baseTemplate :: footer"/>
    </body>
</html>
