<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>'monsteral-tech' user account details</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>
            Welcome to 'monsteral-tech'
        </p>
        <p>
            Your account has been created, please click on the URL below to sign in:
        </p>
        <p>
            <a th:href="@{|${baseUrl}/account/login|}">Sign in to the platform</a>
        </p>
        <p>
            <span>Regards</span>
        </p>

        <div th:include="baseTemplate :: footer"/>
    </body>
</html>
